---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found">
  <div class="container flex min-h-[100vh] text-center">
    <h1 class="title m-auto">Page Not Found</h1>
  </div>
</BaseLayout>
